**/Debug/*
**/Release/*
**/.vs
**/Crashlogs/*
*.user
**/Builds/*
**/AddressSanitizer*
**/DebugAsan*
Archon/Archon/Archon.log
Archon/Archon/crash.log
Archon/Archon/Archon.aps
Archon/Archon/Archon.cfg.bak
Archon/Archon/Archon.cfg
*.diagsession
Archon/Archon/Skin/Starship/
*.64k
**/enc_temp_folder/*
**/Crashes/*
**/Autosave/*
Archon/Archon/Data/MaterialTester.obj.bin
*.apxsndcache
Archon/MinimalPlayer/Data/release.txt
Archon/MinimalPlayer/Data/release.obj
Archon/MinimalPlayer/Data/release.64k
Archon/MinimalPlayer/Data/release.sym
*.mp4
**/Archon/CompiledReleases/*
**/Archon/ScreenShots/*
*.args.json
Archon/MinimalPlayer/Data/release.obj
Archon/MinimalPlayer/mvxDefines.props
Archon/MinimalPlayer/vortexDefines.props
imgui.ini
Archon/MinimalPlayer/LastCoverageResults.log
Archon/MinimalPlayer/.opencppcov/MinimalPlayer/Release_x86.json
Archon/MinimalPlayer/vortexDefines.props
